.background {
  position: relative;
  width: 100%;
  min-height: 100vh;    
  background-color: #1e1e1e;
  overflow: hidden;     
}

.background::before {
  content: "";
  position: absolute;   
  inset: 0;
  background-image: url('/burger-background.png');
  background-repeat: repeat;
  background-size: cover;
  filter: blur(4px);
  opacity: 0.6;
  z-index: 0;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;   
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px; 
}


.logo {
  width: 350px;
  margin-bottom: 40px;
}

.title {
  font-size: 26px;
  font-weight: bold;
  color: #ffae42;
  margin: 0;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.subtitle {
  font-size: 18px;
  color: #ffe082;
  margin: 10px 0 30px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 220px;
}

.buttons button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ffae42;  
  color: #1e1e1e;             
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.buttons button:hover {
  background-color: #ffd54f;  
  color: #000;
  transform: scale(1.05);
}
